<div>
    <h1>Home</h1>

    <p>Demo site for Kevin Hakanson's "Internationalize your JavaScript Application" presentation. The tabs along the header map to demo segments during the presentation.</p>

    <dl>
        <dt>Character</dt>
        <dd>Various encoding and escaping formats for character string</dd>
        <dt>Number</dt>
        <dd>Decimal, currency and percent formatting of numbers</dd>
        <dt>Date</dt>
        <dd>Formatting of dates and times</dd>
        <dt>Biography</dt>
        <dd>Extended example with both formatting and translations (English, Spanish, French)</dd>
    </dl>

    <hr>

    <h4>Internationalize your JavaScript Application: Prepare for "the next billion" internet users.</h4>

    <p>Are you prepared for "the next billion" internet users, most of whom don't use English as their primary language?</p>
    <p>We will explore the globalization (internationalization and localization) of JavaScript based applications. It will look at the ECMAScript Internationalization API and popular open source projects like AngularJS, messageformat.js, jQuery Globalize and twitter-cldr-js.</p>
    <p>Topics will include cultures/locales, character encoding, number formatting, date formatting, choice/plural formatting and translations.</p>

    <ul>
        <li>Thomson Reuters Eagan Technology Unconference (6 September 2013)  ( short <a href="https://docs.google.com/presentation/d/18WgfvLWPFtaQaWcUS6LF4-NXFJX0dkEbFCqvG2k352I/pub?start=false&amp;loop=false&amp;delayms=3000">presentation</a> )</li>
        <li>Twin Cities Code Camp 15 (19 October 2013)  ( <a href="https://docs.google.com/presentation/d/1AbWHPOeNTL9w5nddBrRQ5f-3dJ1gp_JPtmHinLq9K80/pub?start=false&amp;loop=false&amp;delayms=3000">presentation</a> )</li>
        <li>Iowa Code Camp 12 (2 November 2013)  ( <a href="https://docs.google.com/presentation/d/1ZA8dp-SsXXqjKyFxsnVDrGcdoo0NaqE8dz-DCB8wA2M/pub?start=false&amp;loop=false&amp;delayms=3000">presentation</a>, <a href="http://www.youtube.com/watch?v=h3p8cGOZ8CU">video</a> )</li>
        <li>Google DevFest Twin Cities (8 February 2014)  ( <a href="https://docs.google.com/presentation/d/1MeQzuoyrPulLcyv_eOCoVrfHvs5tQATO0YLH2HyG-bg/pub?start=false&loop=false&delayms=3000">presentation</a> )</li>
        <li>That Conference (11-13 August 2014)</li>
    </ul>

    <p><a href="http://about.me/kevin.hakanson">Kevin Hakanson</a> (<a href="https://twitter.com/hakanson">@hakanson</a>) is an application architect for Thomson Reuters where he is focused on highly scalable web applications, especially the JavaScript and security aspects. His background includes both .NET and Java, but he is most nostalgic about Lotus Notes. He has been developing professionally since 1994 and holds a Master’s degree in Software Engineering. When not staring at a computer screen, he is probably staring at another screen, either watching TV or playing video games with his family.</p>
</div>